* {
    font-family: 'Mulish';
    outline: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(90deg,#9a6dfb -7.22%,#5dc7fc 109.17%);
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 100;
    padding: 5px;
}

.container-fluid {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 1024px;
}

nav.container-fluid {
    background-color: #232328;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
}
.nav-items {
    display: flex;
    justify-content: space-between;
}

.nav-items a {
    margin: 10px;
    text-decoration: none;
    color: white;
}

section.container-fluid {
    background-color: #232328;
}
